@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');




* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


body {
    position: relative;
    background: hwb(22 45% 30% / 0.22);
    background-size: cover;
    justify-content: center;
    align-items: center;
}


*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: hwb(26 64% 22%);
}

.btn,
.delete-btn {
    width: 100%;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}

.btn {
    background-color: hwb(26 44% 37%);
}

.btn:hover {
    background-color: hwb(26 64% 22%);
    border: 0px solid hwb(26 44% 37%);
}

.delete-btn {
    background-color: hwb(26 44% 37%);
}

.delete-btn:hover {
    background-color: hwb(26 64% 22%);
    border: 1px solid hwb(26 44% 37%);
}

.message {
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: hwb(27 24% 52%);
    color: white;
    font-size: 20px;
}

.form-container {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container form {
    padding: 20px;
    background-color: white;

    text-align: center;
    width: 500px;
    border-radius: 5px;
}

.form-container form h3 {
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 30px;
    color: black;
}




input.box {
    width: 100%;
    background-color:hwb(0 96% 3%);
    border-radius: 5px;
    padding: 12px 14px;
    font-size: 18px;
    margin: 10px 0;
}

input.box:focus {
    outline: none;
    border-color: hwb(26 64% 22%);
    box-shadow: 0 0 5px hwb(26 64% 22%);
}






.form-container form p {
    margin-top: 15px;
    color: black;
}

.form-container form p a {
    color: hwb(26 44% 37%);
}

.form-container form p a:hover {
    text-decoration: underline;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container .profile {
    padding: 20px;
    background-color: white;
    text-align: center;
    width: 400px;
    border-radius: 5px;
}

.container .profile img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.container .profile h3 {
    margin: 5px 0;
    font-size: 20px;
    color: black;
}

.container .profile p {
    margin-top: 20px;
    color: black;
    font-size: 20px;
}

.container .profile p a {
    color: hwb(26 44% 37%);
}

.container .profile p a:hover {
    text-decoration: underline;
}



.update-profile {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.update-profile form {
    padding: 20px;
    background-color: white;
    text-align: center;
    width: 700px;
    text-align: center;
    border-radius: 5px;
}

.update-profile form img {
    height: 200px;
    width: 200p;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.update-profile form .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;
}

.update-profile form .flex .inputBox {
    width: 49%;
}

.update-profile form .flex .inputBox span {
    text-align: left;
    display: block;
    margin-top: 15px;
    font-size: 17px;
    color: black;
}

.update-profile form .flex .inputBox .box {
    width: 100%;
    border-radius: 5px;
    padding: 12px 14px;
    font-size: 17px;
    color: black;
    margin-top: 10px;
}

@media (max-width:650px) {
    .update-profile form .flex {
        flex-wrap: wrap;
        gap: 0;
    }

    .update-profile form .flex .inputBox {
        width: 100%;
    }
}
